@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,600|Noto+Sans+KR:400,500,700&display=swap&subset=korean");
/* etc */
* { -webkit-overflow-scrolling: touch; }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body { min-height: 100%; }

html { scroll-behavior: smooth; -webkit-text-size-adjust: none; }

body { background-color: #000; font-size: 14px; font-family: "Apple SD Gothic Neo", "애플 SD 산돌고딕 Neo", "Montserrat", "Noto Sans KR", "Spoqa Han Sans Neo", "Spoqa Han Sans", "나눔고딕", "NanumGothic", "맑은 고딕", "Malgun Gothic", "돋움", Dotum, sans-serif; font-weight: 400; color: #fff; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, fieldset, form, legend, p, blockquote, th, td, label, input, select, textarea, button, a { margin: 0; padding: 0; }

a, h1, h2, h2, h3, h4, h5, h6, label, input, textarea, select, button, small, p, span, dl, ul, ol, th, td, address, em, i, strong { font-size: inherit; font-family: inherit; font-weight: inherit; line-height: 1.5; color: inherit; }

dl, ol, ul, li { list-style: none; }

h1, h2, h2, h3, h4, h5, h6, address, em, i, strong, th { font-style: normal; }

a { text-decoration: none; }

img { border: 0; }

fieldset { border: none; }

select { vertical-align: middle; }

a:focus, button:focus, textarea:focus, input:focus, select:focus, li:focus { outline: none; }

a, button, select { cursor: pointer; }

input[type=button], input[type=submit], select { border: none; background: none; }

input[type=text], input[type=password], input[type=search], input[type=number], input[type=email], input[type=tel], input[type=file], input[type=date], select, textarea { -webkit-appearance: none; border-radius: 0; -webkit-border-radius: 0; }

select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

select::-ms-expand { display: none; }

button { border: none; background: transparent; }

table { border-spacing: 0; }

#system-top { position: absolute; top: 0; left: 0; }

.wrap { position: relative; min-width: 320px; max-width: 1520px; margin-right: 20px; margin-left: 20px; }

@media screen and (min-width: 768px) and (max-width: 1059px) { .wrap { margin-right: 40px; margin-left: 40px; } }

@media screen and (min-width: 1060px) and (max-width: 1679px) { .wrap { margin-right: 10%; margin-left: 10%; } }

@media screen and (min-width: 1680px) { .wrap { margin-right: auto; margin-left: auto; } }

.btn-icon { display: block; width: 64px; height: 64px; margin-top: 120px; margin-bottom: 120px; border-radius: 50%; background: #111; background-size: 20px; background-position: 50% 50%; overflow: hidden; text-indent: -9999px; color: transparent; text-shadow: none; }

@media screen and (min-width: 1680px) { .btn-icon { width: 120px; height: 120px; margin-top: 240px; margin-bottom: 240px; background-size: 32px; } }

.btn-icon:hover { opacity: .6; }

img, video { max-width: 100%; height: auto; }

.icon-arrow-upward { background-image: url(../images/icon/arrow-upward.png); background-repeat: no-repeat; }

.icon-arrow-backward { background-image: url(../images/icon/arrow-backward.png); background-repeat: no-repeat; }

.page-title { padding-top: 96px; padding-bottom: 96px; font-weight: 100; }

@media screen and (min-width: 1060px) { .page-title { padding-top: 200px; padding-bottom: 200px; } }

.page-title p { opacity: .4; }

.page-list { padding-top: 40px; color: #fff; }

@media screen and (min-width: 1060px) { .page-list { padding-top: 80px; } }

.page-list a[href^="mailto"] { float: right; text-align: right; font-size: 20px; font-weight: 600; }

@media screen and (min-width: 1060px) { .page-list a[href^="mailto"] { font-size: 40px; } }

.page-list .page-title { clear: both; float: left; font-size: 32px; }

@media screen and (min-width: 1060px) { .page-list .page-title { font-size: 64px; } }

.page-list .list { clear: both; }

@media screen and (min-width: 768px) { .page-list .list { overflow: hidden; } }

.page-list .list_item { position: relative; padding: 24px; background: #111; background-position: 50% 50%; font-weight: 600; }

@media screen and (min-width: 1060px) { .page-list .list_item { padding: 48px; } }

.page-list .list_item:after { content: ""; display: block; padding-bottom: 100%; }

@media screen and (max-width: 767px) { .page-list .list_item:not(:first-child) { margin-top: 40px; } }

@media screen and (min-width: 768px) { .page-list .list_item:nth-child(n+3) { margin-top: 5.2%; } }

@media screen and (min-width: 768px) { .page-list .list_item:nth-child(2n) { margin-left: 5.2%; } }

@media screen and (min-width: 768px) { .page-list .list_item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; float: left; width: 47.4%; }
  .page-list .list_item:before { content: ''; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: #111; opacity: 0; z-index: 1; } }

@media screen and (min-width: 768px) { .page-list .list_item:hover:before { content: ''; transition: opacity 0.2s; -webkit-transition: opacity 0.2s; opacity: .9; }
  .page-list .list_item:hover div { display: block; z-index: 10; } }

@media screen and (min-width: 768px) { .page-list .list_item div { display: none; } }

@media screen and (min-width: 768px) { .page-list .list_item div a { margin: 0 16px; padding: 8px; border-bottom: 1px solid rgba(255, 255, 255, 0.2); font-size: 14px; text-align: center; font-family: 'Montserrat'; }
  .page-list .list_item div a:hover { border-bottom: 1px solid #fff; } }

@media screen and (max-width: 767px) { .page-list .list_item div a:first-child { overflow: hidden; text-indent: -9999px; color: transparent; text-shadow: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 10; } }

@media screen and (max-width: 767px) { .page-list .list_item div a:last-child { display: none; } }

.page-list .list_item p { position: absolute; top: 24px; right: 24px; left: 24px; font-size: 12px; opacity: .4; }

@media screen and (min-width: 1060px) { .page-list .list_item p { top: 48px; right: 48px; left: 48px; } }

.page-list .list_item h3 { overflow: hidden; position: absolute; right: 24px; bottom: 24px; left: 24px; }

@media screen and (min-width: 1060px) { .page-list .list_item h3 { right: 48px; bottom: 48px; left: 48px; } }

.page-list .list_item-ehouse { background-image: url(../images/ehouse.png); background-repeat: no-repeat; background-size: 44%; }

.page-list .list_item-archive { background-image: url(../images/archive.png); background-repeat: no-repeat; background-size: 83%; }

.page-list .list_item-datahub { background-image: url(../images/datahub.png); background-repeat: no-repeat; background-size: 55%; }

.page-list .list_item-rentcar { background-image: url(../images/rentcar.png); background-repeat: no-repeat; background-size: 66%; }

.page-list .list_item-marathon { background-image: url(../images/marathon.png); background-repeat: no-repeat; background-size: 26%; }

.page-list .list_item-cm { background-image: url(../images/cm.png); background-repeat: no-repeat; background-size: 33%; }

.page-list .list_item-bigdata { background-image: url(../images/bigdata.png); background-repeat: no-repeat; background-size: 65%; }

.page-list .list_item-dashboard { background-image: url(../images/dashboard.png); background-repeat: no-repeat; background-size: 61%; }

.page-list .btn-icon { margin-right: auto; margin-left: auto; }

.page-view .page-title { background-color: #111; font-size: 20px; text-align: center; }

@media screen and (min-width: 1060px) { .page-view .page-title { font-size: 40px; } }

.page-view .list li { margin-top: 96px; text-align: center; }

@media screen and (min-width: 1060px) { .page-view .list li { margin-top: 200px; } }
